.login-section{
    position: relative;
    width: 100%;
    margin:6rem auto 5.5rem auto;
    display: flex;
    border-radius: 1rem;
    width: 80%;

}
.side-image {
    flex:1;
    background: #8cd9b1;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px 20px #888888;
}
.side-image img{
   width: 100%;
  height: 100%;
  /* padding-top: 2rem; */
}
.login-panel {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #eeeee4;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px 10px #888888;
}
.login-panel .login-panel-heading{
    text-align: center;
}
.login-panel img{
    margin-top: 1rem ;
    margin-bottom: 0.4rem;
}
.login-panel h1{
color: #16a085;
margin-bottom: 1rem;
/* border-bottom:1px solid #000000 ; */
}
.login-panel h3{
    font-size: 1.5em;
    padding-bottom: 1rem;
}


.inputbox{
    margin: 10px;
    margin-bottom: 20px;
}
.inputbox span{
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 0.5rem;
}
.login-form .inputbox input{
    border-radius:30px;
    border: 1px solid rgb(203, 198, 198);
    padding: 10px;
    width: 100%;
    font-size: 0.8em;
    color: #000000;

}
.login-form input:focus{
    outline: #16a085;
}
.login-btn{
    border: 1px solid #16a085;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 1rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight:400;
    color: white;
    background-color: #16a085; 
}
.login-btn:hover{
color: #16a085;
background-color:white;
cursor: pointer;
}
.inputbox a{
    color: #16a085;
    cursor: pointer;
}


.gender {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin:1rem 0;

}
.genders{
    margin-left: 0.5rem;
}
.gender .gend span{
    padding: 1rem;
}


@media(max-width: 1024px){
    .login-form{
        width: 60%;
    }
}

@media(max-width: 700px){
    .side-image{
        position: absolute;
        width: 100%;
        height: 100vh;
        display: none;
    }
    .login-form{
        width: 65%;
    }
    .login-panel img{
        margin-top: 2rem ;
        margin-bottom: 0.4rem;
        width: 80%;
    }
}
